﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <div align="center">
            <div class="panel panel-default">
                <div class="panel-heading">Mert Hasan Derebaşı</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div align="center">
            <div class="panel panel-default">
                <div class="panel-heading">b151210040   </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div align="center">
            <div class="panel panel-default">
                <div class="panel-heading">Web Programlama Ödevi</div>
            </div>
        </div>
    </div>
</div>
