﻿
@{
    ViewBag.Title = @WebUI.Resources.lang.Blog;
}

@model  List<WebUI.Models.Data.Blog>
<br /><br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-15">
            <div class="panel panel-default">
                @foreach (var item in Model.Take(1))
                {
                    <div class="panel-heading">
                        <h4>@item.BlogBaslik</h4>
                    </div>
                    <div class="panel-body">
                        <h4>Fotoğraflar</h4>
                        <p>@String.Format("{0:dd/MM/yyyy}", item.BlogTarih)</p>
                        @if (item.BlogFoto == null)
                        {
                            <img class="img-responsive" src="~/Content/images/resimyok.png" alt="@item.BlogBaslik" />
                        }
                        else
                        {
                            <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.BlogFoto)" alt="@item.BlogBaslik">
                        }
                        <p>@item.BlogIcerik</p>
                        <hr />
                        <a class="btn btn-primary">< Önceki</a>
                        <a class="btn btn-primary pull-right">Sonraki ></a>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>


