﻿@{
    ViewBag.Title = @WebUI.Resources.lang.Iletisim;
}
<br /><br /><br /><br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@WebUI.Resources.lang.Harita</h4>
            </div>
            <div class="panel-body">
                <div class="contact-map">
                    <div class="google-map-canvas" id="map-canvas" style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@WebUI.Resources.lang.Iletisim</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <address>
                        Sakarya Mert OTel<br />
                       Serdivan / SAKARYA<br />
                        Tel: +90 5422193737
                        E-mail: mertotel@hotmail.com
                    </address>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function initialize() {

        var myLatlng = new google.maps.LatLng(40.741223, 30.332890);
        var mapOptions = {
            zoom: 15,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            animation: google.maps.Animation.DROP
        });
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
            'callback=initialize';
        document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>