﻿
@{
    ViewBag.Title = @WebUI.Resources.lang.Moduller;
}

@model  List<WebUI.Models.Data.Modul>
<br /><br /><br /><br />
<div class="panel-body">
    <div col-md-12>
        <div class="contact-form">
            @using (Html.BeginForm("Modules", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <label class="col-sm-4 control-label">@WebUI.Resources.lang.rezadsoyad *</label>
                    <input id="adsoyad" type="text" name="name" class="form-control" placeholder=@WebUI.Resources.lang.AdSoyad>
                </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@WebUI.Resources.lang.Eposta *</label>
                                <input id="eposta" type="text" name="name" class="form-control" placeholder=@WebUI.Resources.lang.Eposta>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@WebUI.Resources.lang.Masaj *</label>
                                @Html.TextArea("Mesaj", null, new { @class = "form-control", placeholder = @WebUI.Resources.lang.Masaj, rows = 6, columns = 40 })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="col-sm-offset-4 btn btn-primary">@WebUI.Resources.lang.Gonder</button>
                                <label>@TempData["Mesaj"]</label>
                            </div>
            }
        </div>
    </div>
</div>
        </div>
