﻿@model WebUI.Models.Data.Uyeler


@using (Html.BeginForm("GirisYap", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container" style="padding-top:25px">
        <div class="row">
            <div class="col-md-offset-3">
                <div class="form-horizontal">
                    <h4>Giriş Yap</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.eMail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.eMail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.eMail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sifre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.sifre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@WebUI.Resources.lang.GirisYap" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}